In [1]:
import numpy as np
import pandas as pd
import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
import warnings
import gc
import sys
import pickle
from sklearn.preprocessing import OneHotEncoder

In [2]:
with open('train_1209', 'rb') as f:
    OH_X_train = pickle.load(f)
with open('test_1209', 'rb') as f:
    OH_X_test = pickle.load(f)

In [3]:
OH_X_train.shape

(19770715, 24)

In [4]:
OH_X_test.shape

(41498571, 24)

In [5]:
with pd.option_context('display.max_rows', None):
    print(OH_X_train.dtypes)

building_id            uint16
meter                   uint8
timestamp              object
meter_reading         float32
site_id                 uint8
primary_use            object
square_feet            uint32
floor_count             uint8
age                     uint8
weekday                 uint8
hour                    uint8
month                   uint8
air_temperature       float32
cloud_coverage         uint16
dew_temperature       float32
precip_depth_1_hr     float32
sea_level_pressure    float32
wind_direction          uint8
wind_speed            float32
humidity              float32
apparent_temp         float32
min_temperature       float32
max_temperature       float32
mean_temperature      float32
dtype: object

In [6]:
# OH_X_train['hour'] = pd.Series(OH_X_train['hour']/3, dtype='uint8')
# OH_X_test['hour'] = pd.Series(OH_X_test['hour']/3, dtype='uint8')
OH_X_train['age'] = pd.Series(OH_X_train['age']/5, dtype='uint8')
OH_X_test['age'] = pd.Series(OH_X_test['age']/5, dtype='uint8')

In [7]:
uses = OH_X_train['primary_use'].unique()

In [8]:
d = dict()
cnt = 0
for use in uses:
    d[use] = cnt
    cnt = cnt + 1
print(d)

{'Education': 0, 'Lodging/residential': 1, 'Entertainment/public assembly': 2, 'Public services': 3, 'Office': 4, 'Warehouse/storage': 5, 'Retail': 6, 'Food sales and service': 7, 'Religious worship': 8, 'Parking': 9, 'Healthcare': 10, 'Utility': 11, 'Other': 12, 'Technology/science': 13, 'Manufacturing/industrial': 14, 'Services': 15}

In [9]:
OH_X_train['primary_use'] = OH_X_train['primary_use'].apply(lambda x: d[x])
OH_X_test['primary_use'] = OH_X_test['primary_use'].apply(lambda x: d[x])

In [10]:
# onehot_list = ['primary_use']
# onehot_list = ['primary_use','month','weekday','hour','wind_direction']

In [11]:
# OH_X_train = pd.get_dummies(OH_X_train,columns=onehot_list)
# OH_X_test = pd.get_dummies(OH_X_test,columns=onehot_list)

In [12]:
OH_X_train.shape

(19770715, 24)

In [13]:
OH_X_test.shape

(41498571, 24)

In [14]:
display(OH_X_train)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,floor_count,age,weekday,...,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,humidity,apparent_temp,min_temperature,max_temperature,mean_temperature
103,105,0,2016-01-01 00:00:00,23.303600,1,0,50623,5,10,4,...,2.4,0.0,1020.900024,5,3.1,90.559998,0.2786,2.0,8.5,5.3875
104,106,0,2016-01-01 00:00:00,0.374600,1,0,5374,4,10,4,...,2.4,0.0,1020.900024,5,3.1,90.559998,0.2786,2.0,8.5,5.3875
105,106,3,2016-01-01 00:00:00,0.000000,1,0,5374,4,10,4,...,2.4,0.0,1020.900024,5,3.1,90.559998,0.2786,2.0,8.5,5.3875
106,107,0,2016-01-01 00:00:00,175.184006,1,0,97532,10,2,4,...,2.4,0.0,1020.900024,5,3.1,90.559998,0.2786,2.0,8.5,5.3875
107,108,0,2016-01-01 00:00:00,91.265297,1,0,81580,5,20,4,...,2.4,0.0,1020.900024,5,3.1,90.559998,0.2786,2.0,8.5,5.3875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750000,15,2,19619,2,20,5,...,-5.6,0.0,1008.500000,4,8.8,58.299999,-4.2340,-4.4,3.0,-1.6500
20216096,1445,0,2016-12-31 23:00:00,4.825000,15,0,4298,0,10,5,...,-5.6,0.0,1008.500000,4,8.8,58.299999,-4.2340,-4.4,3.0,-1.6500
20216097,1446,0,2016-12-31 23:00:00,0.000000,15,2,11265,1,4,5,...,-5.6,0.0,1008.500000,4,8.8,58.299999,-4.2340,-4.4,3.0,-1.6500
20216098,1447,0,2016-12-31 23:00:00,159.574997,15,1,29775,2,3,5,...,-5.6,0.0,1008.500000,4,8.8,58.299999,-4.2340,-4.4,3.0,-1.6500
20216099,1448,0,2016-12-31 23:00:00,2.850000,15,4,92271,7,3,5,...,-5.6,0.0,1008.500000,4,8.8,58.299999,-4.2340,-4.4,3.0,-1.6500

In [15]:
display(OH_X_test)

,row_id,building_id,meter,timestamp,site_id,primary_use,square_feet,floor_count,age,weekday,...,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,humidity,apparent_temp,min_temperature,max_temperature,mean_temperature
0,0,0,0,2017-01-01 00:00:00,0,0,7432,0,1,6,...,11.7,0.0,1021.400024,2,3.6,67.5,14.010,12.2,27.200001,18.987499
1,1,1,0,2017-01-01 00:00:00,0,0,2720,0,2,6,...,11.7,0.0,1021.400024,2,3.6,67.5,14.010,12.2,27.200001,18.987499
2,2,2,0,2017-01-01 00:00:00,0,0,5376,0,5,6,...,11.7,0.0,1021.400024,2,3.6,67.5,14.010,12.2,27.200001,18.987499
3,3,3,0,2017-01-01 00:00:00,0,0,23685,1,3,6,...,11.7,0.0,1021.400024,2,3.6,67.5,14.010,12.2,27.200001,18.987499
4,4,4,0,2017-01-01 00:00:00,0,0,116607,6,8,6,...,11.7,0.0,1021.400024,2,3.6,67.5,14.010,12.2,27.200001,18.987499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41498566,41498566,1369,2,2018-12-31 23:00:00,15,2,53194,5,12,0,...,2.2,0.0,1014.700012,3,5.1,92.5,-1.217,-4.4,3.300000,-0.575000
41498567,41498567,1402,0,2018-12-31 23:00:00,15,1,133594,11,11,0,...,2.2,0.0,1014.700012,3,5.1,92.5,-1.217,-4.4,3.300000,-0.575000
41498568,41498568,1417,2,2018-12-31 23:00:00,15,1,40451,3,8,0,...,2.2,0.0,1014.700012,3,5.1,92.5,-1.217,-4.4,3.300000,-0.575000
41498569,41498569,1431,2,2018-12-31 23:00:00,15,3,111360,9,3,0,...,2.2,0.0,1014.700012,3,5.1,92.5,-1.217,-4.4,3.300000,-0.575000
41498570,41498570,1448,0,2018-12-31 23:00:00,15,4,92271,7,3,0,...,2.2,0.0,1014.700012,3,5.1,92.5,-1.217,-4.4,3.300000,-0.575000

In [16]:
with pd.option_context('display.max_rows', None):
    print(OH_X_test.dtypes)

row_id                 uint32
building_id            uint16
meter                   uint8
timestamp              object
site_id                 uint8
primary_use             int64
square_feet            uint32
floor_count             uint8
age                     uint8
weekday                 uint8
hour                    uint8
month                   uint8
air_temperature       float32
cloud_coverage         uint16
dew_temperature       float32
precip_depth_1_hr     float32
sea_level_pressure    float32
wind_direction          uint8
wind_speed            float32
humidity              float32
apparent_temp         float32
min_temperature       float32
max_temperature       float32
mean_temperature      float32
dtype: object

In [17]:
def reduce_mem_usage(props):
    start_mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in props.columns:
        if props[col].dtype != object:  # Exclude strings
            
            # make variables for Int, max and min
            IsInt = False
            mx = props[col].max()
            mn = props[col].min()
            
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(props[col]).all(): 
                NAlist.append(col)
                props[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = props[col].fillna(0).astype(np.int64)
            result = (props[col] - asint)
            result = result.sum()
            if result > -0.01 and result < 0.01:
                IsInt = True

            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        props[col] = props[col].astype(np.uint8)
                    elif mx < 65535:
                        props[col] = props[col].astype(np.uint16)
                    elif mx < 4294967295:
                        props[col] = props[col].astype(np.uint32)
                    else:
                        props[col] = props[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).min and mx < np.iinfo(np.int8).max:
                        props[col] = props[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).min and mx < np.iinfo(np.int16).max:
                        props[col] = props[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).min and mx < np.iinfo(np.int32).max:
                        props[col] = props[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).min and mx < np.iinfo(np.int64).max:
                        props[col] = props[col].astype(np.int64)    
            
            # Make float datatypes 32 bit
            else:
                props[col] = props[col].astype(np.float32)
    
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return props, NAlist

In [18]:
OH_X_train, NAlist = reduce_mem_usage(OH_X_train)

Memory usage of properties dataframe is : 1583.8051414489746  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  1451.82137966156  MB
This is  91.66666666666667 % of the initial size

In [19]:
OH_X_test, NAlist = reduce_mem_usage(OH_X_test)

Memory usage of properties dataframe is : 3324.3941917419434  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  3047.3613424301147  MB
This is  91.66666666666667 % of the initial size

In [20]:
with open('train_LGBM_1209', 'wb') as f:
    pickle.dump(OH_X_train, f)
with open('test_LGBM_1209', 'wb') as f:
    pickle.dump(OH_X_test, f)