In [8]:
import pandas as pd

In [9]:
weather = pd.read_csv('files/weather_test.csv')

In [10]:
display(weather_train.head())

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6

In [11]:
weather2 = weather[:]

In [20]:
missing_val_count_by_column = (weather2.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

cloud_coverage        140448
precip_depth_1_hr      95588
sea_level_pressure     21265
wind_direction         12370
dtype: int64

In [13]:
weather_train.shape

(277243, 9)

In [14]:
a = weather[weather['air_temperature'].isna()]
for index, row in a.iterrows():
#     display(row)
    t = weather.iloc[index-1:index+2]
    t = t['air_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'air_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-3:index+4]
    t = t['air_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'air_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-6:index+7]
    t = t['air_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'air_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-24:index+25]
    t = t['air_temperature']
    if t.isna().sum()<len(t):
        weather2.at[index,'air_temperature'] = round(t.mean(),1)
        continue
    print('Error')

In [15]:
a = weather[weather['dew_temperature'].isna()]
for index, row in a.iterrows():
#     display(row)
    t = weather.iloc[index-1:index+2]
    t = t['dew_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'dew_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-3:index+4]
    t = t['dew_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'dew_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-6:index+7]
    t = t['dew_temperature']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'dew_temperature'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-24:index+25]
    t = t['dew_temperature']
    if t.isna().sum()<len(t):
        weather2.at[index,'dew_temperature'] = round(t.mean(),1)
        continue
    print('Error')

In [16]:
a = weather[weather['wind_speed'].isna()]
for index, row in a.iterrows():
#     display(row)
    t = weather.iloc[index-1:index+2]
    t = t['wind_speed']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'wind_speed'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-3:index+4]
    t = t['wind_speed']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'wind_speed'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-6:index+7]
    t = t['wind_speed']
    if t.isna().sum()<len(t)/2:
        weather2.at[index,'wind_speed'] = round(t.mean(),1)
        continue
    t = weather.iloc[index-24:index+25]
    t = t['wind_speed']
    if t.isna().sum()<len(t):
        weather2.at[index,'wind_speed'] = round(t.mean(),1)
        continue
    print('Error')

In [19]:
weather2[weather2['air_temperature'].isna()]

Empty DataFrame
Columns: [site_id, timestamp, air_temperature, cloud_coverage, dew_temperature, precip_depth_1_hr, sea_level_pressure, wind_direction, wind_speed]
Index: []

In [ ]:
def relative_humidity(Tc,Tdc):
    E = 6.11*10.0**(7.5*Tdc/(237.7+Tdc))
    Es = 6.11*10.0**(7.5*Tc/(237.7+Tc))    
    RH = (E/Es)*100
    return RH

weather2['humidity'] = relative_humidity(weather2.air_temperature, weather2.dew_temperature).astype(np.float16)
weather2.loc[weather2['humidity']>100, 'humidity'] = 100

In [ ]:
def apparent_temp(T,v):
    return T-2*np.sqrt(v)
weather2['apparent_temp'] = apparent_temp(weather2.air_temperature, weather2.wind_speed).astype(np.float16)

In [22]:
weather2.to_csv('files/weather_test2.csv', index=False)